body {
  margin: auto;
  max-width: 45em;
  font-family: sans-serif;
  background-color: cadetblue;
}

.header {
  background-color: antiquewhite;
  color: black;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: antiquewhite;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

.content {
  background-color: antiquewhite;
  padding: 0.5em;
  margin: 0.5em 0;
}

.pattern {
  border: 2px solid cadetblue;
  margin: 1em;
  padding: 0.2em 0.5em;
}

h1,h2 {
  margin: 0;
}
