{% extends "layout.html" %}

{% block title %}Ohjeen muokkaus{% endblock %}

{% block content %}
<h2>{{ pattern.title }}</h2>
<h3>Ohjeen muokkaus</h3>
<form action="/update_pattern" method="post">
  <p>
    <label for="title">Otsikko</label>: <br />
    <input type="text" name="title" id="title" value="{{ pattern.title }}" maxlength="50" required />
  </p>
  <p>
    <label for="description">Sisältö</label>: <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1500" required>{{ pattern.description }}</textarea>
  </p>
  <input type="hidden" name="pattern_id" value="{{ pattern.id }}" />
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    {% if elements[class] == "select" %}
    <select name="{{ class }}" id="class{{ class }}">
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
    {% else %}
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <input type="{{ elements[class] }}" name="{{ class }}" id="class{{ class }}" value="{{ option }}" checked/> {{ option }}
      {% else %}
      <input type="{{ elements[class] }}" name="{{ class }}" id="class{{ class }}" value="{{ option }}" /> {{ option }}
      {% endif %}
    {% endfor %}
    {% endif %}
  </p>
  {% endfor %}
  <p>
    Voit hallinnoida ohjeen kuvia ohjeen omalta sivulta.
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä ohje" />
</form>
<p>
  <a href="/pattern/{{ pattern.id }}">Takaisin ohjeeseen</a>
</p>
{% endblock %}
