<!DOCTYPE html>
<html>

<head>
  <title>Ohjeen kuvat</title>
</head>

<body>
  <h1>Ohjeen kuvat</h1>

  <p>
    Ohjeessa olevien kuvien määrä: {{ images | count }}
  </p>
  
  <h2>Lisää uusi kuva</h2>
  <p>
    Sallitut tiedostomuodot: .jpg
  </p>
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Kuva: <input type="file" name="image" accept=".jpg" />
    </p>
    <input type="hidden" name="pattern_id" value="{{ pattern.id }}">
    <input type="submit" value="Lähetä" />
  </form>

  <p>
    <a href="/pattern/{{ pattern.id }}">Takaisin</a>
  </p>
</body>

</html>
