{% extends "layout.html" %}

{% block title %}Uusi ohje{% endblock %}

{% block content %}
<h2>Uusi ohje</h2>
<form action="/create_pattern" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required />
  </p>
  <p>
    <label for="description">Sisältö:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1500" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    {% if elements[class] == "select" %}
    <select name="{{ class }}" id="class{{ class }}">
    {% for option in classes[class] %}
      <option value="{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
    {% else %}
      {% for option in classes[class] %}
      <input type="{{ elements[class] }}" name="{{ class }}" id="class{{ class }}" value="{{ option }}" required/>{{ option }}
      {% endfor %}
    {% endif %}
  </p>
  {% endfor %}
  <p>
    Voit hallinnoida ohjeen kuvia ohjeen omalta sivulta.
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo ohje" />
</form>
{% endblock %}
